/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    /* Colors */
    --primary-color: #12131a;
    --secondary-color: #0b0b0f;

    --accent-color: #ff7849;
    --accent-secondary: #7262ff;

    --background-color: #f8fafc;
    --surface-color: #ffffff;
    --card-bg: #ffffff;

    --text-color: #111827;
    --text-light: #6b7280;
    --border-color: #eceff3;
    
    /* Typography */
    --heading-font: "Bebas Neue", sans-serif;
    --body-font: "Roboto", sans-serif;

    /* Spacing */
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 32px;
}

/* Body */
body {
    font-family: var(--body-font);
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.6;
    padding-top: 80px;
    position: relative;
}
.page{
    background:var(--background-color);
    color:var(--text-color);
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--primary-color);
    background-color: var(--secondary-color);
    padding: var(--spacing-md);
    font-family: var(--body-font);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.logo {
    font-family: var(--heading-font);
    font-weight:700;
    font-size: 20px;;
    margin-left: 10px;
    background: linear-gradient(
        135deg,
        #ffd166,
        #ff8c42,
        #ef476f
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 24px;
}
.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    transition: color 0.3s ease,
                transform 0.3s ease;
}
.nav-links a:hover {
    color: var(--accent-color);
    transform: translateY(-2px);
}
.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color:var(--accent-color);
    transition: width 0.3s ease;
}
.nav-links a:hover::after {
    width: 100%;
}

/* Hero */
.hero {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 64px 8%;
}
.hero-left{
    flex:1;
    max-width: 700px;
}
.hero-left h1{
    line-height: 1;
}
.hero-left h1 small{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
    color: var(--text-light);
    display: block;
}
.hero-left h1 span{
    color: var(--text-light);
}
.hero-name {
    font-family: var(--heading-font);
    font-size: 70px;
    font-weight: 800;
    line-height: 1.1;
    background: linear-gradient(
        135deg,
        #ffd166,
        #ff8c42,
        #ef476f
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.hero-role{
    font-size: 24px;
    font-weight: 600;
    color: var(--text-light);
    margin-bottom: 20px;
}
.hero-text{
    font-size: 18px;
    line-height: 1.8;
    max-width: 600px;
}
.hero-right{
    position: relative;
    width: 500px;
    height: 500px;
    flex: 1;
}
/* Graphic */
.main-circle{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:220px;
    height:220px;
    border-radius:50%;
    background:rgba(255,120,73,.12);
    border:1px solid rgba(255,120,73,.4);
    display:flex;
    align-items:center;
    justify-content:center;
}
.main-circle i{
    font-size:60px;
    color:var(--accent-color);
}
.icon{
    width:82px;
    height:82px;
    background:#0b1328;
    border:1px solid rgba(255,255,255,.05);
    border-radius:18px;
    display:flex;
    align-items:center;
    justify-content:center;
    position:absolute;
}
.icon i{
    color:var(--accent-color);
    font-size:35px;
}
.top{
    top:30px;
    right:130px;
}
.left{
    left:70px;
    top:240px;
}
.bottom{
    bottom:40px;
    right:130px;
}

/* Projects */
.projects {
    padding: var(--spacing-lg) var(--spacing-md);
    text-align: center;
}
.section-title{
    text-align:center;
    margin-bottom:70px;
}
.section-title h2{
    font-family: var(--heading-font);
    font-size: 50px;
    font-weight: 600;
}
.section-title p{
    line-height: 1.6;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.project-grid {
    margin-top: var(--spacing-md);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-md);
}
.card {
    background: var(--card-bg);
    padding: var(--spacing-md);
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,.08);
    transition: 
        transform 0.3s ease,
        box-shadow 0.3s ease;
}
.card:hover {
    transform: translateY(-8px);
    box-shadow:0 15px 30px rgba(0,0,0,.15);
}
.card h3 {
    align-items: center;
    font-size: 20px;
    margin-bottom:18px;
}
.card .tech-stack {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom:25px;
}
.tech-stack span{
    background:rgba(255,123,66,0.12);
    color:var(--accent-color);
    padding:8px 18px;
    border-radius:30px;
    font-size:15px;
    font-weight:500;
}
.project-desc{
    font-size: 18px;
    line-height: 1.9;
    margin-bottom: 25px;
}

/* Contact */
.contact {
    padding: var(--spacing-lg) var(--spacing-md);
    text-align: center;
}
.contact h2 {
    font-family: var(--heading-font);
    font-size: 50px;
    font-weight: 600;
}
.contact p{
    line-height: 1.6;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: center;
}
.contact form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    background: var(--card-bg);
    box-shadow:0 10px 30px rgba(0,0,0,.08);
    gap: 16px;
}
.contact input,
.contact textarea, 
.contact button {
    margin: 10px 5px;
    padding: 12px;
    border: 3px solid #d4d7dc;
    border-radius: 12px;
    background:white;
    border-radius: 5px;
    font-size: 16px;
    font-family: var(--body-font);
    outline: none;
    resize: vertical;
}
.contact input:focus,
.contact textarea:focus {
    box-shadow: 0 0 0 3px rgba(59,130,246,.3);
}
.contact button {
    background: var(--accent-color);
    color: white;
    cursor: pointer;
    transition:.3s;
    border: none;
    padding: 10px 18px;
    border-radius: 10px;
    font-weight: 500;
}
.contact button:hover {
    background: opacity 0.1;
    transform: translateY(-1px);
    box-shadow: 0 10px 20px rgba(255, 120, 73, 0.25);
}
.contact button:active {
    background-color: var(--primary-color);
    transform: translateY(2px);
    box-shadow: 0 5px 10px rgba(255, 120, 73, 0.15);
}

/* Footer */
footer {
    text-align: center;
    padding: 60px;
    background: var(--primary-color);
    color: white;
    background-color: var(--secondary-color);
    line-height: 1.9;
}
footer a {
    color: white;
    margin-top: 20px;
    text-decoration: none;
    font-weight: 600;
}
footer a:hover {
    color: var(--accent-color);
}
.back-to-top {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 16px;
    color: white;
    font-weight: 400;
    background-color: var(--accent-color);
    border-radius: 6px;
    text-decoration: none;
    transition: background-color 0.3s ease,
                transform 0.3s ease;
}
.back-to-top:hover {
    color: var(--primary-color);
    background-color: var(--accent-color);
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(255, 120, 73, 0.25);
}

/* Dark Mode */
/* Hide checkbox */
#dark-toggle {
    display: none;
}
/* Toggle label */
.toggle-label {
    cursor: pointer;
    font-size: 20px;
    margin: 10px;
    display: inline-block;
}
/* Dark Mode when checkbox is checked */
body:has(#dark-toggle:checked){
    --background-color:#121212;
    --text-color:#f1f1f1;
    --card-bg:#1e1e1e;
    --secondary-color:#000000;
}
/* Apply variables */
body, .page {
    font-family: var(--body-font);
    background: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

/* Responsive */
@media (max-width: 768px) {
    .project-grid {
        grid-template-columns: 1fr;
    }
}
@media(max-width:1100px){
    .navbar{
        flex-direction:column;
        gap:15px;
    }
    .nav-links{
        flex-wrap:wrap;
        justify-content:center;
    }
    .hero{
        flex-direction:column;
        gap:70px;
        text-align:center;
    }
    .hero-left h1{
        font-size:clamp(3rem,8vw,5rem);
    }
    .hero-left h1 small{
        font-size:30px;
    }
    .hero-right{
        width:350px;
        height:350px;
    }
    .main-circle{
        width:170px;
        height:170px;
    }

}
